[Desktop Entry]
Type=Application
Version=1.0
Name=Kaczuchokalipsa!
Exec=kaczuchokalipsa
Comment=Duck apocalypse!
Icon=kaczuchokalipsa
Terminal=false
Categories=Game;ArcadeGame;
